html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  user-select: none;

  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;

  background-color: var(--page-bg);
}

select:focus,
option:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

option:first-child {
  display: none;
}

.swiper {
  overflow: unset;
}

.swiper-slide {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  width: unset;
  height: unset;
  margin-top: unset;
  display: unset;
  color: unset;
}

.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
