.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;

  &--footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      padding: 20px;

      flex-direction: column-reverse;
      gap: 20px;
    }
  }

  &--footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1604px) {
      gap: 80px;
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      max-width: 807px;
    }

    @media (max-width: 767px) {
      gap: 50px;
    }
  }
}
