:root {
  --container-width: 1596px;
  --container-padding: 15px;

  --font-main: 'Urbanist', sans-serif;
  --font-accent: 'Inter', serif;

  --page-bg: #141414;
  --page-bg-lite: #1a1a1a;
  --heading-color: #fff;
  --text-color: #999;
  --accent: #703bf7;

  --rotation: 0;

  --laptop-size: 1280px;
  --tablet-size: 959px;
  --mobile-size: 358px;
}
