.achievements {
  &__top {
    max-width: 1297px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__item {
    padding: 50px;
    flex: 1;
    align-self: stretch;

    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    & .item {
      &__title {
        color: var(--heading-color);
        font-weight: 600;
        font-size: 30px;

        margin-bottom: 30px;
      }
    }
  }
}
