.background {
  position: absolute;
  z-index: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

  scale: 2;

  &__block {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  & g {
    height: 100%;

    animation-duration: 80s;
    animation-name: line-movement;
    animation-iteration-count: infinite;
  }

  &--sm {
    left: unset;
    transform: unset;

    scale: 30;

    @media (max-width: 767px) {
      scale: 10;
    }

    & g {
      animation-duration: 80s;
      animation-name: line-movement-sm;

      @media (max-width: 767px) {
        animation-duration: 65s;
      }
    }
  }
}

@keyframes line-movement {
  0% {
    transform: translateX(20%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(20%);
  }
}

@keyframes line-movement-sm {
  0% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(10%);
  }
}
