.benefits {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 1604px) {
      gap: 16px;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 24px;

    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--page-bg-lite);

    @media (max-width: 1604px) {
      padding: 20px;
    }

    @media (max-width: 1250px) {
      text-align: center;
      flex: 1;
    }

    @media (max-width: 767px) {
      padding: 18px 16px;

      &:last-child {
        flex: 100%;
      }
    }
  }

  &__title {
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 700;

    margin-bottom: 2px;

    @media (max-width: 1604px) {
      font-size: 30px;
    }

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
}
