.button {
  padding: 18px 24px;

  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;

  color: var(--heading-color) !important;

  border-radius: 8px;
  border: 1px solid;
  border-color: #262626;

  background: linear-gradient(to left, var(--page-bg) 50%, var(--accent) 50%)
    right;
  background-size: 200%;
  transition: all 0.5s ease-out;

  &:hover {
    background-position: left;
  }

  &--accent {
    background: linear-gradient(to left, var(--accent) 50%, var(--page-bg) 50%)
      right;
    background-size: 200%;
    border-color: var(--accent);

    &:hover {
      background-position: left;
    }
  }

  &--search {
    position: relative;
    padding-left: 56px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 24px;
      content: '';
      background: url('../../img/pages/properties/search-icon.svg') no-repeat 0
        0;
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}
