.circles {
  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 82px;
    width: 82px;

    @media (max-width: 1604px) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: 767px) {
      width: 48px;
      height: 48px;
    }

    & img {
      height: 34px;

      @media (max-width: 1604px) {
        height: 24px;
      }

      @media (max-width: 767px) {
        height: 20px;
      }
    }
  }

  &__item {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    animation: 5.5s linear 0s normal none infinite running rotation-circle;

    @media (max-width: 1604px) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: 767px) {
      width: 48px;
      height: 48px;
    }

    &--sm {
      animation: 4s linear 0s normal none infinite running rotation-circle;

      @media (max-width: 1604px) {
        width: 44px;
        height: 44px;
      }

      @media (max-width: 767px) {
        width: 36px;
        height: 36px;
      }
    }
  }
}

@keyframes rotation-circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
