.clients {
  &__top {
    max-width: 1300px;
  }

  &__card {
    padding: 50px;

    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-sm);

    & .card {
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 40px;
      }

      &__subtitle {
        margin-bottom: 6px;
      }

      &__title {
        color: var(--heading-color);
        font-weight: 600;
        font-size: 30px;
      }

      &__tags {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 40px;
      }

      &__tag {
        flex: 1;
        align-self: center;

        &:first-child {
          padding-right: 30px;
          border-right: 1px solid #262626;
        }

        &:last-child {
          padding-left: 30px;
        }

        & .tag {
          &__subtitle {
            display: flex;
            align-items: center;
            gap: 6px;

            margin-bottom: 8px;
          }

          &__title {
            color: var(--heading-color);
            font-size: 20px;
          }
        }
      }

      &__content {
        padding: 30px;

        border: var(--border);
        border-radius: var(--border-radius);

        & .content {
          &__subtitle {
            display: block;

            margin-bottom: 14px;
          }

          &__text {
            color: var(--heading-color);
          }
        }
      }
    }
  }
}
