.clients {
  padding: 75px 0 150px;

  &__top {
    position: relative;
  }

  &__top {
    max-width: 1300px;

    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__card {
    padding: 50px;

    border: 1px solid #262626;
    border-radius: 12px;
    box-shadow: 0 0 0 8px #191919;

    & .card {
      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 40px;
      }

      &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;

        margin-bottom: 6px;
      }

      &__title {
        color: var(--heading-color);
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
      }

      &__tags {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 40px;
      }

      &__tag {
        flex: 1;
        align-self: center;

        &:first-child {
          padding-right: 30px;
          border-right: 1px solid #262626;
        }

        &:last-child {
          padding-left: 30px;
        }

        & .tag {
          &__subtitle {
            display: flex;
            align-items: center;
            gap: 6px;

            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            margin-bottom: 8px;
          }

          &__title {
            color: var(--heading-color);
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
          }
        }
      }

      &__content {
        padding: 30px;

        border: 1px solid #262626;
        border-radius: 12px;

        & .content {
          &__subtitle {
            display: block;

            font-weight: 500;
            font-size: 18px;
            line-height: 150%;

            margin-bottom: 14px;
          }

          &__text {
            color: var(--heading-color);
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }
        }
      }
    }
  }
}
