.counter {
  margin-top: 50px;
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: var(--border);

  @media (max-width: 1604px) {
    margin-top: 40px;
    padding-top: 16px;
  }

  @media (max-width: 767px) {
    margin-top: 24px;
    padding-top: 0;
    border-top: unset;
  }

  &__currentCount--mobile {
    display: none;
    visibility: hidden;

    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      gap: 4px;

      visibility: unset;
    }
  }

  &__block {
    font-size: 20px;

    @media (max-width: 1604px) {
      font-size: 16px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }

    & strong {
      color: var(--heading-color);
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 767px) {
      display: none;
      visibility: hidden;
    }

    &--mobile {
      display: none;
      visibility: hidden;

      @media (max-width: 767px) {
        display: unset;
        visibility: unset;
        max-height: 44px;
      }
    }
  }

  &__arrow {
    width: 100%;
    height: 100%;
    position: unset !important;

    cursor: pointer;

    @media (max-width: 1604px) {
      max-height: 44px;
    }

    @media (max-width: 767px) {
      max-width: 44px;
      max-height: 44px;
    }
  }
}
