.faq {
  &__inner {
    @media (max-width: 1250px) {
      max-width: 807px;
      width: 100%;

      margin: 0 auto;
    }
  }

  &__wrapper {
    max-width: 1200px;

    @media (max-width: 1604px) {
      max-width: 1000px;
    }
  }

  &__card {
    padding: 50px;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--border-radius);
    border: var(--border);

    @media (max-width: 1604px) {
      padding: 40px;
    }

    @media (max-width: 767px) {
      padding: 30px;
    }

    & .card {
      &__title {
        margin-bottom: 30px;

        @media (max-width: 1604px) {
          margin-bottom: 24px;
        }

        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }

      &__text {
        letter-spacing: -0.108px;

        margin-bottom: 30px;

        @media (max-width: 1604px) {
          letter-spacing: -0.6%;

          margin-bottom: 24px;
        }

        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }

      &__button {
        @media (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
