.faq {
  padding: 75px 0 100px 0;

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
  }

  &__wrapper {
    max-width: 1200px;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__card {
    padding: 50px;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 12px;
    border: 1px solid #262626;

    & .card {
      &__title {
        color: var(--heading-color);
        font-family: Urbanist;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;

        margin-bottom: 30px;
      }

      &__text {
        letter-spacing: -0.108px;

        margin-bottom: 30px;
      }
    }
  }
}
