.faq {
  padding: 75px 0 100px;

  &__wrapper {
    max-width: 1200px;
  }

  &__card {
    padding: 50px;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--border-radius);
    border: var(--border);

    & .card {
      &__title {
        margin-bottom: 30px;
      }

      &__text {
        letter-spacing: -0.108px;

        margin-bottom: 30px;
      }
    }
  }
}
