.footer {
  &__top {
    padding: 100px 0;
    background-color: var(--page-bg);

    @media (max-width: 1604px) {
      padding: 80px 0;
    }

    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }

  &__logo {
    margin-bottom: 30px;

    @media (max-width: 1604px) {
      margin-bottom: 24px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }

    & img {
      @media (max-width: 1604px) {
        height: 34px;
      }
    }
  }

  &__left {
    max-width: 538px;
    width: 100%;

    @media (max-width: 1604px) {
      max-width: 326px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &__form {
    position: relative;
    max-width: 423px;

    @media (max-width: 1604px) {
      max-width: 305px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 24px;
      content: '';
      background: url('../../img/footer/form/email.svg') no-repeat 0 0;
      width: 24px;
      height: 24px;
      display: inline-block;

      @media (max-width: 1604px) {
        left: 20px;
        background-size: 20px;
      }
    }
  }

  &__input {
    padding: 18px 64px 18px 58px;
    width: 100%;

    color: var(--heading-color);
    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--page-bg);

    transition: var(--transition);

    @media (max-width: 1604px) {
      padding: 14px 50px 14px 46px;

      font-size: 14px;
    }

    @media (max-width: 767px) {
      max-width: 100%;
    }

    &:focus {
      border: 1px solid var(--accent);
    }

    &::placeholder {
      line-height: 24px;
      letter-spacing: -0.108px;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;

    @media (max-width: 1604px) {
      right: 20px;
      width: 24px;
      height: 24px;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      gap: 20px;
    }

    & .item__title {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.12px;

      margin-bottom: 30px;

      @media (max-width: 1604px) {
        font-size: 18px;

        margin-bottom: 24px;
      }

      @media (max-width: 767px) {
        font-size: 16px;

        margin-bottom: 16px;
      }
    }

    & .list__item {
      color: var(--heading-color);
      line-height: 24px;
      letter-spacing: -0.108px;

      &:not(:last-child) {
        margin-bottom: 20px;

        @media (max-width: 1604px) {
          margin-bottom: 16px;
        }

        @media (max-width: 767px) {
          margin-bottom: 8px;
        }
      }
    }

    & .list__link {
      position: relative;

      overflow: hidden;
      transition: color 500ms ease;

      &:hover {
        color: var(--accent);
      }

      &::before {
        position: absolute;
        content: attr(data-content);
        top: -1px;
        left: 0;

        width: 0;
        white-space: nowrap;

        color: var(--accent);
        overflow: hidden;
        transition: width 275ms ease;

        @media (max-width: 1604px) {
          top: -2px;
        }

        @media (max-width: 767px) {
          top: -4px;
        }
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  &__item {
    @media (max-width: 767px) {
      position: relative;
      width: calc(50% - 10px);

      padding-bottom: 20px;

      &::after {
        position: absolute;
        bottom: 0;

        content: '';
        background: var(--grey-15);
        width: calc(100% - 20px);
        height: 1px;
        display: inline-block;
      }

      &:nth-child(odd) {
        padding-right: 20px;
        border-right: var(--border);

        left: 0;
      }

      &:nth-child(even) {
        right: 0;
      }
    }
  }

  &__bottom {
    padding: 26px 0;

    background-color: var(--page-bg-lite);

    @media (max-width: 1604px) {
      padding: 14px 0;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    gap: 38px;

    color: var(--heading-color);
    line-height: 24px;
    letter-spacing: -0.108px;

    @media (max-width: 1604px) {
      gap: 20px;

      font-size: 14px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 1604px) {
      gap: 8px;
    }

    & img {
      @media (max-width: 1604px) {
        width: 40px;
      }

      @media (max-width: 767px) {
        width: 60px;
      }
    }
  }
}
