.form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  border-radius: var(--border-radius);
  border: var(--border);

  &--sm {
    padding: 50px;
    gap: 30px;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__item {
    width: 100%;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    text-decoration: underline !important;
  }
}
