.form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  border-radius: var(--border-radius);
  border: var(--border);

  @media (max-width: 1604px) {
    padding: 80px;

    gap: 30px;
  }

  @media (max-width: 1604px) {
    padding: 20px;

    gap: 20px;
  }

  &--sm {
    padding: 50px;
    gap: 30px;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 1604px) {
      gap: 30px;
    }

    @media (max-width: 1250px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      gap: 20px;
    }
  }

  &__item {
    width: 100%;

    @media (max-width: 1250px) {
      flex: calc(50% - 30px);
    }

    @media (max-width: 767px) {
      flex: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__button {
    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    text-decoration: underline !important;
  }
}
