.input {
  display: block;
  width: 100%;
  padding: 24px 20px;

  color: var(--heading-color);
  line-height: 20px;

  background: var(--page-bg-lite);
  border-radius: var(--border-radius-sm);
  border: var(--border);
  transition: var(--transition);

  &::placeholder {
    color: var(--grey-40);
  }

  &:focus {
    border-color: var(--accent);
  }
}
