.intro {
  overflow-x: hidden;

  &--dark {
    background: linear-gradient(
      154deg,
      rgb(38 38 38 / 100%) 0%,
      rgb(38 38 38 / 0%) 55%
    );

    border-bottom: var(--border);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 814px;
    height: 100%;

    @media (max-width: 1604px) {
      min-height: 622px;
    }

    @media (max-width: 1250px) {
      padding: 40px 0;
      flex-direction: column-reverse;
      gap: 40px;

      max-width: 807px;
      width: 100%;
      min-height: unset;

      margin: 0 auto;
    }

    &--about {
      position: unset;

      padding: 100px 0;
      min-height: 546px;
      height: 100%;

      @media (max-width: 1604px) {
        padding: 70px 0;
        min-height: 435px;
      }

      @media (max-width: 1250px) {
        min-height: unset;
        gap: 64px;
        flex-direction: column-reverse;
      }

      @media (max-width: 767px) {
        padding: 50px 0 40px;
        gap: 40px;
      }
    }

    &--properties {
      position: unset;

      padding: 150px 0 160px;
      min-height: unset;

      @media (max-width: 1604px) {
        padding: 100px 0 130px;
      }
    }

    &--services,
    &--contact {
      min-height: unset;
      padding: 150px 0 100px;

      @media (max-width: 1604px) {
        padding: 100px 0;
      }
    }
  }

  &__left {
    max-width: 1358px;

    @media (max-width: 1604px) {
      max-width: 1160px;
    }
  }

  &__left--short {
    position: relative;

    max-width: 758px;

    @media (max-width: 1604px) {
      max-width: 610px;
    }

    @media (max-width: 1250px) {
      max-width: 807px;
    }
  }

  &__title {
    max-width: 660px;

    margin-bottom: 14px;

    @media (max-width: 1604px) {
      margin-bottom: 10px;
    }

    &--home {
      font-size: 60px !important;
      line-height: 1.2 !important;

      margin-bottom: 24px;

      @media (max-width: 1604px) {
        max-width: 610px;

        font-size: 46px !important;

        margin-bottom: 20px;
      }

      @media (max-width: 1250px) {
        max-width: unset;
      }

      @media (max-width: 767px) {
        font-size: 28px !important;

        margin-bottom: 16px;
      }
    }

    &--services {
      max-width: 770px;
    }
  }

  &__text {
    display: block;

    margin-bottom: 60px;

    @media (max-width: 1604px) {
      margin-bottom: 50px;
    }

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    &--about {
      margin-bottom: 80px;

      @media (max-width: 1604px) {
        margin-bottom: 50px;
      }

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    &--properties {
      max-width: 1358px;

      margin-bottom: unset;
    }

    &--services,
    &--contact {
      margin-bottom: unset;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 60px;

    @media (max-width: 1604px) {
      gap: 16px;

      margin-bottom: 50px;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;

      margin-bottom: 40px;
    }
  }

  &__btn {
    @media (max-width: 1250px) {
      flex: 50%;
      text-align: center;
    }

    @media (max-width: 767px) {
      flex: 100%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: -162px;

    @media (max-width: 1604px) {
      right: -80px;
    }

    @media (max-width: 1250px) {
      position: relative;
      right: 0;
    }

    & img {
      height: 814px;
      width: 100%;

      @media (max-width: 1604px) {
        height: 622px;
      }

      @media (max-width: 1250px) {
        height: 435px;
        border-radius: var(--border-radius);
      }

      @media (max-width: 767px) {
        height: auto;
        width: 100%;
      }
    }

    &--about {
      border: var(--border);
      border-radius: var(--border-radius);

      & img {
        height: 546px;
        width: 100%;

        @media (max-width: 1604px) {
          height: 435px;
        }

        @media (max-width: 767px) {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
