.notification {
  background-color: var(--page-bg-lite);
  border-bottom: var(--border);

  &__inner {
    padding: 18px 0;

    color: var(--heading-color);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__link {
    text-decoration: underline !important;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
