.notification {
  background-color: var(--page-bg-lite);
  border-bottom: var(--border);

  &__inner {
    padding: 18px 0;

    color: var(--heading-color);

    @media (max-width: 1604px) {
      padding: 14px 0;

      font-size: 14px;
    }

    @media (max-width: 767px) {
      padding: 20px 0;

      font-size: 12px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media (max-width: 1604px) {
      gap: 6px;
    }

    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }

  &__link {
    text-decoration: underline !important;
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    @media (max-width: 1604px) {
      width: 26px;
      height: 26px;
    }
  }
}
