.pricing {
  &__top {
    max-width: 1300px;
  }

  &__note {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: var(--border-radius);
    border: var(--border);
    background: var(--page-bg-lite);

    margin-bottom: 50px;

    & .note {
      &__subtitle {
        padding-right: 20px;

        border-right: var(--border);
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  &__left {
    position: sticky;
    top: 15px;
    max-width: 220px;
    width: 100%;
  }

  &__right {
    max-width: 1326px;
    width: 100%;
  }

  &__listing {
    display: inline-block;
    font-size: 20px !important;

    margin-bottom: 2px;
  }

  &__price {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 40px;
  }

  &__item {
    padding: 50px;
    display: block;

    border: var(--border);
    border-radius: var(--border-radius);

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    & .item {
      &__top {
        margin-bottom: 40px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: var(--border);
      }

      &__line {
        display: flex;
        align-items: center;
        gap: 20px;

        &:not(:last-child) {
          padding-bottom: 40px;
          margin-bottom: 40px;

          border-bottom: var(--border);
        }
      }

      &__block {
        flex: 50%;

        &:has(+ .item__block) {
          border-right: var(--border);
        }
      }

      &__subtitle {
        display: inline-block;

        margin-bottom: 16px;
      }

      &__desc {
        display: flex;
        align-items: center;
        gap: 16px;

        & span {
          padding: 8px 14px;

          border-radius: 28px;
          border: var(--border);
          background: var(--page-bg-lite);
        }
      }
    }
  }
}
