.property {
  &__inner {
    @media (max-width: 1250px) {
      max-width: 807px;
      width: 100%;

      margin: 0 auto;
    }
  }

  &__top {
    max-width: 1300px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: 1604px) {
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 50px;
    flex-basis: 32%;

    border-radius: var(--border-radius);
    border: var(--border);

    @media (max-width: 1604px) {
      padding: 40px;
    }

    @media (max-width: 1250px) {
      flex-basis: calc(50% - 10px);
    }

    @media (max-width: 767px) {
      padding: 24px;
      flex-basis: 100%;
    }

    &--big {
      padding: 59.5px 50px;
      flex-basis: 66%;

      border-radius: var(--border-radius);
      border: var(--border);

      @media (max-width: 1604px) {
        padding: 57.5px 40px;
      }

      @media (max-width: 1250px) {
        padding: 24px;
        flex-basis: 100%;
      }

      & .item {
        &__top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-bottom: 30px;

          @media (max-width: 1604px) {
            margin-bottom: 20px;
          }

          @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
        }

        &__title {
          color: var(--heading-color);
          font-weight: 700;
          font-size: 30px;

          @media (max-width: 1604px) {
            font-size: 20px;
          }
        }

        &__button {
          @media (max-width: 767px) {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    & .item {
      &__top {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-bottom: 30px;

        @media (max-width: 1604px) {
          gap: 16px;

          margin-bottom: 20px;
        }

        @media (max-width: 767px) {
          gap: 10px;

          margin-bottom: 16px;
        }
      }
    }
  }
}
