.property {
  &__top {
    max-width: 1300px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    padding: 50px;
    flex-basis: 32%;

    border-radius: var(--border-radius);
    border: var(--border);

    &--big {
      padding: 59.5px 50px;
      flex-basis: 66%;

      border-radius: var(--border-radius);
      border: var(--border);

      & .item {
        &__top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin-bottom: 30px;
        }

        &__title {
          color: var(--heading-color);
          font-weight: 700;
          font-size: 30px;
        }
      }
    }

    & .item {
      &__top {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-bottom: 30px;
      }

      &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 74px;
        width: 74px;
      }
    }
  }
}
