.reviews {
  &__inner {
    @media (max-width: 1250px) {
      max-width: 807px;
      width: 100%;

      margin: 0 auto;
    }
  }

  &__wrapper {
    max-width: 1200px;

    @media (max-width: 1604px) {
      max-width: 960px;
    }
  }

  &__card {
    padding: 50px;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--border-radius);
    border: var(--border);

    @media (max-width: 1604px) {
      padding: 40px;
    }

    @media (max-width: 767px) {
      padding: 30px;
    }

    .card {
      &__top {
        margin-bottom: 40px;

        @media (max-width: 1604px) {
          margin-bottom: 30px;
        }

        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
      }

      &__stars {
        display: flex;
        align-items: center;
        gap: 10px;

        margin-bottom: 40px;

        @media (max-width: 1604px) {
          gap: 8px;

          margin-bottom: 30px;
        }

        @media (max-width: 767px) {
          margin-bottom: 24px;
        }
      }

      &__star {
        @media (max-width: 1604px) {
          width: 38px;
          height: 38px;
        }

        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }

      &__title {
        margin-bottom: 14px;

        @media (max-width: 1604px) {
          margin-bottom: 10px;
        }

        @media (max-width: 767px) {
          margin-bottom: 6px;
        }
      }

      &__text {
        color: var(--heading-color);
      }

      &__person {
        display: flex;
        align-items: center;
        gap: 12px;

        @media (max-width: 1604px) {
          gap: 10px;
        }
      }

      &__img {
        @media (max-width: 1604px) {
          width: 50px;
          height: 50px;
        }
      }

      &__name {
        color: var(--heading-color);
        font-size: 20px;

        margin-bottom: 2px;

        @media (max-width: 1604px) {
          font-size: 18px;

          margin-bottom: 0;
        }

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }
}
