.reviews {
  &__wrapper {
    max-width: 1200px;
  }

  &__card {
    padding: 50px;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    border-radius: var(--border-radius);
    border: var(--border);

    .card {
      &__top {
        margin-bottom: 40px;
      }

      &__stars {
        display: flex;
        align-items: center;
        gap: 10px;

        margin-bottom: 40px;
      }

      &__title {
        margin-bottom: 14px;
      }

      &__text {
        color: var(--heading-color);
      }

      &__person {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      &__name {
        color: var(--heading-color);
        font-size: 20px;

        margin-bottom: 2px;
      }
    }
  }
}
