.search {
  margin-top: -62px;

  &__top {
    position: relative;
    text-align: center;

    margin-bottom: 10px;
  }

  &__input {
    padding: 33.5px 255px 33.5px 24px;

    max-width: 1322px;
    width: 100%;

    color: var(--heading-color);
    font-size: 24px;

    box-shadow: var(--box-shadow);
    background: var(--page-bg);
    border-radius: 12px 12px 0 0;
    border: var(--border);
    transition: var(--transition);

    &::placeholder {
      color: var(--grey-40);
    }

    &:focus {
      border-color: var(--accent);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(((100% - 1322px) / 2) + 20px);
  }

  &__bottom {
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 20px;

    border-radius: var(--border-radius);
    background: var(--page-bg-lite);
  }

  &__item {
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      pointer-events: none;
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 54px;
      content: '';
      width: 1px;
      height: 27px;
      display: inline-block;
      pointer-events: none;

      background: #262626;
    }

    &--1::before {
      background: url('../../img/forms/search/icons/01.svg') no-repeat 0 0;
    }

    &--2::before {
      background: url('../../img/forms/search/icons/02.svg') no-repeat 0 0;
    }

    &--3::before {
      background: url('../../img/forms/search/icons/03.svg') no-repeat 0 0;
    }

    &--4::before {
      background: url('../../img/forms/search/icons/04.svg') no-repeat 0 0;
    }

    &--5::before {
      background: url('../../img/forms/search/icons/05.svg') no-repeat 0 0;
    }
  }
}
