.section {
  padding: 75px 0;

  @media (max-width: 1604px) {
    padding: 60px 0;
  }

  @media (max-width: 767px) {
    padding: 40px 0;
  }

  &--top {
    padding: 150px 0 75px;

    @media (max-width: 1604px) {
      padding: 120px 0 60px;
    }

    @media (max-width: 767px) {
      padding: 80px 0 40px;
    }
  }

  &--bottom {
    padding: 75px 0 150px;

    @media (max-width: 1604px) {
      padding: 60px 0 120px;
    }

    @media (max-width: 767px) {
      padding: 40px 0 80px;
    }
  }

  &--full {
    padding: 150px 0;

    @media (max-width: 1604px) {
      padding: 120px 0;
    }

    @media (max-width: 767px) {
      padding: 80px 0;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;

    @media (max-width: 1604px) {
      margin-bottom: 60px;
    }

    @media (max-width: 1250px) {
      margin-bottom: 40px;
      flex-direction: column;
      gap: 20px;
    }

    &--block {
      max-width: 1300px;
      display: block;
      justify-content: unset;
      align-items: unset;

      @media (max-width: 1604px) {
        max-width: 1030px;
      }
    }

    & a.button {
      @media (max-width: 1250px) {
        width: 100%;
        text-align: center;
      }
    }
  }

  &__title {
    margin-bottom: 14px;

    @media (max-width: 1604px) {
      margin-bottom: 10px;
    }

    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
  }
}
