.select {
  position: relative;
  width: 100%;

  &__tag {
    padding: 20px 20px 20px 64px;
    width: 100%;

    cursor: pointer;
    appearance: none;

    border: var(--border);
    border-radius: var(--border-radius-sm);
    background: var(--page-bg);
    transition: var(--transition);

    @media (max-width: 1604px) {
      padding: 15.5px 15.5px 15.5px 50px;
    }

    &:focus {
      border-color: var(--accent);

      & + .select__appearance {
        transform: rotate(180deg) translateY(50%);
      }

      & + .select__appearance--form {
        transform: rotate(180deg);
      }
    }

    &--white {
      color: var(--heading-color) !important;
    }

    &--form {
      padding: 24px 20px;

      color: var(--grey-40);
      line-height: 20px;

      background: var(--page-bg-lite);
      border-radius: var(--border-radius);
      border: var(--border);

      @media (max-width: 1604px) {
        padding: 16px 20px;
      }
    }
  }

  &__appearance {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    transition: var(--transition);

    @media (max-width: 1604px) {
      right: 14px;
      width: 28px;
      height: 28px;
    }

    &--form {
      width: 24px;
      height: 24px;
      top: unset;
      bottom: 22px;
      transform: unset;

      @media (max-width: 1604px) {
        width: 20px;
        height: 20px;
        bottom: 16px;
      }
    }
  }
}
