.select {
  position: relative;
  width: 100%;

  &__tag {
    padding: 20px 20px 20px 64px;
    width: 100%;

    cursor: pointer;
    appearance: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    border: 1px solid #262626;
    border-radius: 12px;
    background: var(--page-bg);
    transition: all 0.5s ease-out;

    &:focus {
      border-color: var(--accent);

      & + .select__appearance {
        transform: rotate(180deg) translateY(50%);
      }

      & + .select__appearance--form {
        transform: rotate(180deg);
      }
    }

    &--white {
      color: var(--heading-color) !important;
    }

    &--form {
      padding: 24px 20px;

      color: #666;
      line-height: 20px;

      background: var(--page-bg-lite);
      border-radius: 12px;
      border: 1px solid #262626;
    }
  }

  &__appearance {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    transition: all 0.5s ease-out;

    &--form {
      top: unset;
      transform: unset;
      bottom: 22px;
    }
  }
}
