.stars {
  position: absolute;
  top: -40px;
  left: -15px;

  display: flex;
  align-items: center;
  gap: 6px;

  line-height: 0;

  &__item:first-child {
    transform: rotate(calc(0.3deg * var(--rotation)));

    & img {
      width: 30px;
      height: 30px;

      @media (max-width: 1604px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__item:nth-child(2) {
    transform: rotate(calc(0.6deg * var(--rotation)));

    & img {
      width: 18px;
      height: 18px;

      @media (max-width: 1604px) {
        width: 14.4px;
        height: 14.4px;
      }
    }
  }

  &__item:last-child {
    transform: rotate(calc(1deg * var(--rotation)));
    height: 10px;

    @media (max-width: 1604px) {
      height: 6.72px;
    }

    & img {
      width: 10px;
      height: 10px;

      @media (max-width: 1604px) {
        width: 6.72px;
        height: 6.72px;
      }
    }
  }
}
