.stars {
  position: absolute;
  top: -40px;
  left: -15px;

  display: flex;
  align-items: center;
  gap: 6px;

  &__item:first-child {
    transform: rotate(calc(0.3deg * var(--rotation)));
  }

  &__item:nth-child(2) {
    transform: rotate(calc(0.6deg * var(--rotation)));
  }

  &__item:last-child {
    height: 10px;

    transform: rotate(calc(1deg * var(--rotation)));
  }
}
