.steps {
  &__inner {
    @media (max-width: 1250px) {
      max-width: 807px;
      width: 100%;

      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 30px;

    @media (max-width: 1604px) {
      gap: 40px 30px;
    }

    @media (max-width: 767px) {
      gap: 30px;
    }
  }

  &__item {
    min-width: 500px;
    flex: 1;
    align-self: stretch;

    @media (max-width: 1604px) {
      flex: 31.91%;
      min-width: unset;
    }

    @media (max-width: 1250px) {
      flex: unset;
    }
  }

  &__marker {
    display: inline-block;
    padding: 16px 0 16px 20px;

    color: var(--heading-color);
    font-size: 20px;

    border-left: var(--border);

    @media (max-width: 1604px) {
      padding: 14px 0 14px 16px;

      font-size: 16px;
    }
  }

  &__content {
    position: relative;
    height: calc(100% - 66px);
    padding: 50px;
    border: var(--border);
    border-radius: 0 12px 12px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: calc(var(--mouse-x) - 150px)
      calc(var(--mouse-y) - 150px);
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    background-image: radial-gradient(
      circle,
      var(--accent),
      transparent calc(69.5% + 1px)
    );

    @media (max-width: 1604px) {
      padding: 40px;
      height: calc(100% - 52px);

      border-radius: 0 10px 10px;

      background-size: 225px 225px;
      background-position: calc(var(--mouse-x) - 112.5px)
        calc(var(--mouse-y) - 112.5px);
    }

    @media (max-width: 767px) {
      padding: 30px;

      background-repeat: unset;
      background-size: unset;
      background-position: unset;
      background-attachment: fixed;
      backdrop-filter: unset;
      background-image: unset;
    }

    &::before {
      position: absolute;
      content: '';
      top: -66px;
      left: -1px;
      width: 1px;
      height: 250px;
      z-index: 1;
      background: linear-gradient(rgb(112 59 247 / 100%), rgb(112 59 247 / 0%));

      @media (max-width: 1604px) {
        top: -53px;
      }

      @media (max-width: 1250px) {
        height: 150px;
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: -100px;
      left: 99px;
      transform: rotate(270deg);
      width: 1px;
      height: 200px;
      z-index: 1;
      background: linear-gradient(rgb(112 59 247 / 100%), rgb(112 59 247 / 0%));

      @media (max-width: 1250px) {
        top: -60px;
        left: 59px;
        height: 120px;
      }
    }

    & .content {
      &__title {
        color: var(--heading-color);
        font-weight: 600;
        font-size: 26px;

        margin-bottom: 20px;

        @media (max-width: 1604px) {
          font-size: 20px;

          margin-bottom: 16px;
        }

        @media (max-width: 767px) {
          font-size: 18px;

          margin-bottom: 14px;
        }
      }
    }
  }
}
