.team {
  &__inner {
    @media (max-width: 1250px) {
      max-width: 807px;
      width: 100%;

      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 1604px) {
      gap: 20px;
    }

    @media (max-width: 1250px) {
      flex-wrap: wrap;
    }

    @media (max-width: 767px) {
      justify-content: center;

      max-width: 358px;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 30px;
    text-align: center;

    border-radius: var(--border-radius);
    border: var(--border);

    @media (max-width: 1604px) {
      padding: 24px;
    }

    @media (max-width: 1250px) {
      flex: 48%;
    }

    @media (max-width: 767px) {
      padding: 20px;
      flex: unset;
    }

    &:hover {
      & .item__redirection {
        border-color: var(--accent);
      }
    }

    & .item {
      &__top {
        position: relative;

        margin-bottom: 50px;

        @media (max-width: 767px) {
          margin-bottom: 40px;
        }
      }

      &__img img {
        @media (max-width: 1604px) {
          border-radius: 10px;
          max-height: 220px;
        }
      }

      &__socialIcon {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);

        & img {
          @media (max-width: 1604px) {
            width: 60px;
            height: 40px;
          }
        }
      }

      &__title {
        line-height: 120%;

        margin-bottom: 6px;

        @media (max-width: 1604px) {
          line-height: 28px;

          margin-bottom: 4px;
        }

        @media (max-width: 767px) {
          margin-bottom: 2px;
        }
      }

      &__post {
        display: inline-block;

        line-height: 120%;

        margin-bottom: 24px;

        @media (max-width: 1604px) {
          line-height: 24px;

          margin-bottom: 20px;
        }
      }

      &__redirection {
        position: relative;
        padding: 22px 24px;

        text-align: left;
        color: var(--heading-color);

        background: var(--page-bg-lite);
        border-radius: 100px;
        border: var(--border);
        transition: var(--transition);

        @media (max-width: 1604px) {
          padding: 14px 20px;
        }

        @media (max-width: 767px) {
          padding: 18px 24px;
          line-height: 28px;
        }
      }

      &__link {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 14px;
        content: '';
        background: url('../../img/about/team/icons/button.svg') no-repeat 0 0;
        width: 44px;
        height: 44px;
        display: inline-block;

        @media (max-width: 1604px) {
          right: 10px;
          width: 36px;
          height: 36px;
        }

        @media (max-width: 767px) {
          display: flex;
          align-items: center;
          justify-content: center;

          right: 8px;
          width: 48px;
          height: 48px;
        }

        & svg rect {
          transition: var(--transition);
        }

        &:hover {
          & svg rect {
            fill: #5f32d1;
          }
        }

        &:focus {
          & svg rect {
            fill: #532cb8;
          }
        }
      }
    }
  }
}
