.textarea {
  padding: 24px 20px;
  width: 100%;
  height: 170px;

  color: var(--heading-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  border: 1px solid #262626;
  border-radius: 8px;
  background: var(--page-bg-lite);
  resize: none;
  transition: all 0.5s ease-out;

  &::placeholder {
    color: #666;
  }

  &:focus {
    border-color: var(--accent);
  }
}
