.world {
  &__inner {
    position: relative;
    overflow: hidden;
    padding: 80px;

    border-radius: var(--border-radius);
    background: var(--page-bg-lite);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    width: 100%;

    &:nth-child(1) {
      position: relative;
    }

    &:nth-child(2) {
      display: flex;
      gap: 20px;
    }
  }
}
